<style>
  .table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 500px;
  }
  .table thead th {
    text-align: left;
  }
  .table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
  }
  .table th,
  .table td {
    padding: 12px 15px;
  }
  .table tbody th {
    text-align: right;
  }
  .table tbody tr {
    border-bottom: 1px solid #dddddd;
  }

  .table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }

  .table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  .table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
  .table .score {
    width: 100%;
    height: 100%;
    font-weight: bold;
  }
  .table .stable {
    color: gray;
  }
  .table .normal {
    color: #0094ea;
  }
  .table .flexible {
    color: green;
  }
  .table .instable {
    color: red;
  }
</style>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <% dep.forEach(function(d){ %>
      <th><%= d.name %></th>
      <% }) %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Fan-in(入向依赖)</th>
      <% dep.forEach(function(item){ %>
      <td><%= item.in %></td>
      <% }) %>
    </tr>
    <tr>
      <th>Fan-out(出向依赖)</th>
      <% dep.forEach(function(item){ %>
      <td><%= item.out %></td>
      <% }) %>
    </tr>
    <tr>
      <th>I(不稳定性)</th>
      <% dep.forEach(function(item){ %>
      <td><%= item.instable.toFixed(2) %></td>
      <% }) %>
    </tr>
    <tr>
      <th>Score(评分)</th>
      <% dep.forEach(function(item){ %>
      <td><p class="score <%= item.label %>"><%= item.label %></p></td>
      <% }) %>
    </tr>
  </tbody>
</table>
