<style>
  .table {
    border-collapse: collapse;
    margin: 0 0 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 500px;
  }
  .table thead th {
    text-align: left;
  }
  .table thead tr {
    text-align: center;
  }
  .table th,
  .table td {
    padding: 12px 15px;
  }
  .table tbody th {
    text-align: right;
  }
  .table .score {
    width: 100%;
    height: 100%;
    font-weight: bold;
  }
  .table .stable {
    color: gray;
  }
  .table .normal {
    color: #0094ea;
  }
  .table .flexible {
    color: green;
  }
  .table .instable {
    color: red;
  }
  .table .failed {
    color: orange;
  }
</style>
<h2 op75="" pb2>The Results of the SDP Analyzer: </h2>
<table class="table">
  <thead>
    <tr bg-gray:20>
      <th></th>
      <% dep.forEach(function(d){ %>
      <th text-2xl><%= d.name %></th>
      <% }) %>
    </tr>
  </thead>
  <tbody>
    <tr bg-gray:8>
      <th>Fan-in(入向依赖)</th>
      <% dep.forEach(function(item){ %>
      <td><%= item.in %></td>
      <% }) %>
    </tr>
    <tr bg-gray:12>
      <th>Fan-out(出向依赖)</th>
      <% dep.forEach(function(item){ %>
      <td><%= item.out %></td>
      <% }) %>
    </tr>
    <tr bg-gray:8>
      <th>I(不稳定性)</th>
      <% dep.forEach(function(item){ %>
      <td><%= item.instable %></td>
      <% }) %>
    </tr>
    <tr bg-gray:12>
      <th>Score(评分)</th>
      <% dep.forEach(function(item){ %>
      <td><p class="score <%= item.label %>"><%= item.label %></p></td>
      <% }) %>
    </tr>
  </tbody>
</table>
